<% set_page_sub_title t('views.notifications.index.title') %>

<%= render 'share/page_title' %>

<div class="row">
  <div class="col-md-2">

  </div>
  <!-- //.col -->

  <div class="col-md-5">

  </div>
  <!-- //.col -->

  <div class="col-md-5">

  </div>
  <!-- //.col -->
</div>
