<% set_page_sub_title t('views.home.about.title') %>

<%= render 'share/page_title' %>

<div class="row">
  <div class="col-md-2">
    <%= render 'share/side_nav' %>
  </div>
  <!-- //.col -->

  <div class="col-md-7">
    <div class="page-header">
      <h3>ComiGudeとは？</h3>
    </div>
    <div class="panel-panel-default">
      <div class="panel-body">
        コミックマーケットやCOMIC1に関する情報をまとめています。<br>
        ユーザー登録をすることでチェックリストを作成することもできますよ。
      </div>
    </div>

    <div class="page-header">
      <h3>注意事項</h3>
    </div>
    <div class="panel-panel-default">
      <div class="panel-body">
        当サイトの内容に関して、コミックマーケット準備会および有限会社コミケットは関係ありませんので、 そちらに問い合わせることのないようにお願い致します。
      </div>
    </div>
  </div>
  <!-- //.col -->

  <div class="col-md-3">

  </div>
  <!-- //.col -->
</div>
