<% set_page_sub_title t('views.ccircle_checklists.index.title', comiket_id: @comiket.id) %>

<div id="ccircle_checklists_controller"
     ng-controller="CcircleChecklistsCtrl"
     data-comiket-id="<%= @comiket.id %>">

  <%= render 'share/page_title' %>

  <div class="row">
    <div class="col-md-2">
      <%= render 'share/side_nav' %>
    </div>
    <!-- //.col -->

    <div class="col-md-5">
      <%= render 'checklists', comiket: @comiket %>
    </div>
    <!-- //.col -->

    <div class="col-md-5">

    </div>
    <!-- //.col -->
  </div>
</div>
