<form ng-controller="C1circleSearchCtrl">
  <label>サークル検索</label>
  <div class="input-group">
    <input class="form-control" placeholder="Search" type="text" ng-model="searchKeyword">
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="doSearch()">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
