<% set_page_sub_title t('views.c1circles.index.title', comic1_id: @comic1.id) %>

<%= render 'share/page_title' %>

<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-5">

  </div>
  <div class="col-md-5">
    <%= render 'c1circles/c1circles', comic1: @comic1 %>
  </div>
</div>
