<div id="user-mypage-message-panels">
  <div class="col-md-4">
    <div class="panel panel-blue">
      <div class="panel-heading">
        <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-users fa-3x"></i>
            </div>
            <div class="col-xs-10 text-right">
              <div class="count">サークルリスト {{ list_count.ccircle_checklists }} 件</div>
              <div class="message">
                <%= link_to 'サークルチェックリスト一覧', comiket_ccircle_checklists_path(comiket_id: Comiket::MAIN_ID) %>
              </div>
            </div>
        </div>
      </div>
      <!-- //.panel-heading -->
      <ul class="list-group">
        <li class="list-group-item">
          <b>C{{ comiket_id }} 新着チェックリスト</b>
        </li>
        <li class="list-group-item" ng-repeat="checklist in ccircle_checklists | limitTo : 5">
          {{ checklist.circle_name }}
          <span class="badge pull-right">{{ checklist.created_at | date : 'MM/dd HH:mm' }}</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- //.col -->
  <div class="col-md-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-building fa-3x"></i>
            </div>
            <div class="col-xs-10 text-right">
              <div class="count">企業リスト {{ list_count.ckigyo_checklists }} 件</div>
              <div class="message">
                <%= link_to '企業ブースチェックリスト一覧', comiket_ckigyos_path(comiket_id: Comiket::MAIN_ID) %>
              </div>
            </div>
        </div>
      </div>
      <!-- //.panel-heading -->
      <ul class="list-group">
        <li class="list-group-item">
          <b>C{{ comiket_id }} 企業ブースチェックリスト</b>
        </li>
        <li class="list-group-item" ng-repeat="checklist in ckigyo_checklists | limitTo : 5">
          {{ checklist.ckigyo.name }}
          <span class="badge pull-right">{{ checklist.created_at | date : 'MM/dd HH:mm' }}</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- //.col -->
  <div class="col-md-4">
    <div class="panel panel-orange">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-users fa-3x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <div class="count">サークルリスト {{ list_count.c1circle_checklists }} 件</div>
            <div class="message">
              <%= link_to 'サークルチェックリスト一覧', comic1_c1circle_checklists_path(comic1_id: Comic1::MAIN_ID) %>
            </div>
          </div>
        </div>
      </div>
      <!-- //.panel-heading -->
      <ul class="list-group">
        <li class="list-group-item">
          <b>COMIC1☆{{ comic1_id }} 新着チェックリスト</b>
        </li>
        <li class="list-group-item" ng-repeat="checklist in c1circle_checklists | limitTo : 5">
          {{ checklist.circle_name }}
          <span class="badge pull-right">{{ checklist.created_at | date : 'MM/dd HH:mm' }}</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- //.col -->
</div>
