<div id="user-mypage-message-panels">
  <div class="col-md-4">
      <div class="panel panel-warning">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-2">
                      <i class="fa fa-bell fa-3x"></i>
                  </div>
                  <div class="col-xs-10 text-right">
                      <div class="count">新着メッセージ {{ notifications.length }} 件</div>
                      <div class="message">
                        <%= link_to 'メッセージ一覧', notifications_path %>
                      </div>
                  </div>
              </div>
          </div>
          <!-- //.panel-heading -->
          <ul class="list-group">
            <li class="list-group-item">
              <b>新着メッセージ</b>
            </li>
            <li class="list-group-item" ng-repeat="notification in notifications | limitTo : 5">
              {{ notification.title }}
            </li>
          </ul>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-2">
                      <i class="fa fa-users fa-3x"></i>
                  </div>
                  <div class="col-xs-10 text-right">
                      <div class="count">サークルリスト {{ ccircle_checklists.length }} 件</div>
                      <div class="message">
                        <%= link_to 'サークルチェックリスト一覧', comiket_ccircle_checklists_path(comiket_id: Comiket::MAIN_ID) %>
                      </div>
                  </div>
              </div>
          </div>
          <!-- //.panel-heading -->
          <ul class="list-group">
            <li class="list-group-item">
              <b>C{{ comiket_id }} 新着チェックリスト</b>
            </li>
            <li class="list-group-item" ng-repeat="checklist in ccircle_checklists | limitTo : 5">
              {{ checklist.circle_name }}
              <span class="badge pull-right">{{ checklist.created_at | date : 'MM/dd HH:mm' }}</span>
            </li>
          </ul>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-success">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-2">
                      <i class="fa fa-building fa-3x"></i>
                  </div>
                  <div class="col-xs-10 text-right">
                      <div class="count">企業リスト {{ ckigyo_checklists.count }} 件</div>
                      <div class="message">
                        <%= link_to '企業ブースチェックリスト一覧', comiket_ckigyos_path(comiket_id: Comiket::MAIN_ID) %>
                      </div>
                  </div>
              </div>
          </div>
          <!-- //.panel-heading -->
          <ul class="list-group">
            <li class="list-group-item">
              <b>C{{ comiket_id }} 企業ブースランキング</b>
            </li>
            <li class="list-group-item" ng-repeat="ckigyo in ckigyos">
              {{ ckigyo.rank }}位
              <a href="javascript:void(0);" ckigyo-id="{{ ckigyo.id }}" ckigyo-modal>
                {{ ckigyo.full_info }}
              </a>
              <span class="badge pull-right">{{ ckigyo.count }}</span>
            </li>
          </ul>
      </div>
  </div>
</div>
