<% set_page_sub_title t('views.users.restful.profile.title') %>

<div>
  <%= render 'share/page_title' %>

  <div class="row">
    <div class="col-md-2">
      <%= render 'share/side_nav' %>
    </div>

    <div class="col-md-10">

    </div>
  </div>
</div>
