@import 'values';

#index_home {
  &.content-main-wrapper {
    padding: 0;
  }

  .intro-header {
    background: url('/assets/home_index_background.jpg') no-repeat center center;
    background-size: cover;
    color: #f8f8f8;
    padding-bottom: 50px;
    text-align: center;
  }

  .intro-message {
    padding-bottom: 20%;
    padding-top: 20%;
    position: relative;

    > h1 {
      font-size: 5em;
      margin: 0;
      text-shadow: 2px 2px 3px rgba(#000, .6);
    }

    > h3 {
      text-shadow: 2px 2px 3px rgba(#000, .6);
    }
  }

  .intro-divider {
    border-bottom: 1px solid rgba(#000, .2);
    border-top: 1px solid #f8f8f8;
    width: 400px;
  }

  @media(max-width: 767px) {
    .intro-header {
      padding-top: 50px;
    }

    .intro-message {
      padding-bottom: 15%;

      > h1 {
        font-size: 3em;
      }
    }

    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .intro-divider {
      width: 100%;
    }
  }

  .content-section {
    padding: 50px 0;

    &.section-left {
      background-color: $color-clouds;
    }

    &.section-right {
      border-bottom: 1px solid #e7e7e7;
      border-top: 1px solid #e7e7e7;
    }

    .section-images {
      text-align: center;

      .fa {
        font-size: 24em;
      }
    }

    .section-heading {
      font-weight: bold;
      margin-bottom: 30px;
    }

    .section-heading-spacer {
      border-top: 3px solid #e7e7e7;
      float: left;
      width: 200px;
    }

    @media(max-width: 767px) {
      .section-images {
        .fa {
          font-size: 16em;
        }
      }
    }
  }

  .banner {
    background-color: $color-licorice;
    color: #f8f8f8;
    padding: 100px 0;

    h2 {
      font-size: 3em;
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
    }

    ul {
      margin-bottom: 0;
    }

    .banner-social-buttons {
      float: right;
      margin-top: 0;
    }

    @media(max-width: 1199px) {
      ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
      }
    }

    @media(max-width: 767px) {
      ul.banner-social-buttons {
        > li {
          display: block;
          margin-bottom: 20px;
          padding: 0;
        }

        > li:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
