#user-mypage-message-panels {
  .panel {
    .count {
      font-size: 22px;
    }
  }
}

#user-mypage-side-nav {
  li {
    border-bottom: solid 1px #ddd;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}
