$color-link-water: #CCD0D5;
$color-regend-gray: #7C858E;
$color-licorice: #27313D;
$color-black-pearl: #0F1419;
$color-cinnabar: #DE4830;
$color-fire-brick: #A6341F;
$color-medium-aquamarine: #60C4B0;
$color-niagara: #26AE90;
$color-bright-sun: #ECB935;
$color-nugget: #C69D2B;
$color-california: #E9872E;
