<div>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</div>
<div><%= Settings.site_name %> : <%= link_to Settings.site_url, Settings.site_url %></div>
<div>--------------------------------------------------------------------</div>
<div>MAIL : <%= mail_to Settings.email_my %></div>
<div>Twitter : <%= link_to Settings.twitter_url, Settings.twitter_url %></div>
<div>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</div>
