<p><%= @resource.username %> 様</p>

<p>登録回数が一定数を超えたため、アカウントがロックされています。</p>

<p>下記リンクからアカウントのロックを解除する事が出来ます:</p>

<p><%= link_to 'ロック解除', unlock_url(@resource, unlock_token: @token) %></p>

<%= render 'share/mailer/footer' %>
